@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import "biblios/index";
@import "biblios/menu";
@import "biblios/typography";
@import "biblios/commun";

/* Couleurs cartre graphique */
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;



