
/*---------
Pour les menus
menu.css pour les différents menus
Feuille de style pour le projet 3 ohmyfood
Par Arnaud Ghali
Version V. 9.2 finale - modification suite à soutenance */ 

@import "typography";

/* Animations */

/* Apparition des sous-menus puis des plats au fur et à mesure*/
.entrees {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  animation: apparition 1.25s ease-in-out;
  -webkit-animation: apparition 1.25s ease-in-out;
    & .sousMenuDetail1 {
    animation: apparition 0.25s ease-in-out;
    -webkit-animation: apparition 0.25s ease-in-out;
  }
  
  & .sousMenuDetail2 {
    animation: apparition 0.5s ease-in-out;
    -webkit-animation: apparition 0.5s ease-in-out;
  }
  
  & .sousMenuDetail3 {
    animation: apparition 1s ease-in-out;
    -webkit-animation: apparition 1s ease-in-out;
  }

  & .sousMenuDetail4 {
    animation: apparition 1.25s ease-in-out;
    -webkit-animation: apparition 1.25s ease-in-out;
  }
}


.plats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  animation: apparition 1.5s ease-in-out;
  -webkit-animation: apparition 1.5s ease-in-out;
  & .sousMenuDetail1 {
    animation: apparition 0.25s ease-in-out;
    -webkit-animation: apparition 0.25s ease-in-out;
  }
  
  & .sousMenuDetail2 {
    animation: apparition 0.5s ease-in-out;
    -webkit-animation: apparition 0.5s ease-in-out;
  }
  
  & .sousMenuDetail3 {
    animation: apparition 1s ease-in-out;
    -webkit-animation: apparition 1s ease-in-out;
  }
}

.desserts {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  animation: apparition 1.75s ease-in-out;
  -webkit-animation: apparition 1.75s ease-in-out;
  & .sousMenuDetail1 {
    animation: apparition 0.25s ease-in-out;
    -webkit-animation: apparition 0.25s ease-in-out;
  }
  
  & .sousMenuDetail2 {
    animation: apparition 0.5s ease-in-out;
    -webkit-animation: apparition 0.5s ease-in-out;
  }
  
  & .sousMenuDetail3 {
    animation: apparition 1s ease-in-out;
    -webkit-animation: apparition 1s ease-in-out;
  }
}

@keyframes apparition {
  from {
      opacity: 0;
      transform: translateY(-25px);
      -webkit-transform: translateY(-25px);
      -moz-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
      -o-transform: translateY(-25px);
}
  to {
      opacity: 1;
      transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
  }
}

/* animation sur le coeur - au survol */
.vignetteCoeur {

  &:hover {
    animation: all;
    transition: 0.8s;
    opacity: 1;
    background: linear-gradient($color-secondaire 0%, $color-primaire 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    cursor:pointer;
  }
}


/* Apparition de la coche */
/*Puis au survol, soulevons la carte légèrement, rendons l’ombre plus prononcée et apparition de la coche*/
.sousMenuDetail:hover { 
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
  cursor:pointer;

  & .sousMenuPrix{
    transition-duration: 1s;
    margin-right: 32px;
  }
  & .sousMenuIcone {
    opacity: 1;
    color: white;
    background-color: $color-tertiaire;
    transition-duration: 1s;
    margin-left: -32px;
  }
  i{
    transition-duration: 1s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
  grid-template-columns:70% 20% 10%;

}

/* Menus */
.imageRestaurant {
  height: 300px;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-size:cover;
  background-position: center center;
  /* rempli le contenu dans la dimension*/
  object-fit: cover;
}

.titreRestaurant {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  width: 100%;
}

.titreRestaurantTexte {
  padding-top: 25px;
  padding-left: 5px;
  text-align: left;
}

.titreRestaurantCoeur {
  padding-top: 25px;
  padding-right: 25px;
  text-align: right;
}

.flex-menus {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: center;
  margin-top: -45px;
  position: relative;
  height: 100%;
  background-color:#F2F2F2;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/* Mise en forme des titres : Entrées, Plats, Desserts */
.titreCategorie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width : 100%;
  justify-content:start;
  text-align: left;
  padding-top :30px;
  padding-bottom: 10px;
}

.categorie {
  display : flex;
  flex-direction: row;
  text-align: left;
}

.categorieLigne {
  width: 50px;
  border: 2px solid $color-tertiaire;
  margin-left: 5px;
}

/* Grid vignette sous-menu*/
.sousMenu { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: #F2F2F2;
  width: 100%;
  align-content: space-between;
}

/* chaque Plat*/
.sousMenuDetail {
  display: grid;
  grid-template-columns:80% 18% 2%;
  grid-template-rows: auto;
  width: 96%;
  line-height: 16px;
  min-height: 100%;
  position: relative;
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  top: 0;
  padding:0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

/* Plat */
.sousMenuPlat {
  display: flex;
  flex-direction: column;
}

/* Accompagnements*/
.policeAccompagnements {
  font-size: 14px;
  text-align: left;
  margin-top: 2%;
  color:gray;
  font-weight: 400;
  padding-left:5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

.sousMenuPrix {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.prixPlat {
  text-align: right;
  margin-top: 2%;
  font-weight: 500;
  padding-right:5px;
}

.sousMenuIcone {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 0;
}

/* Bouton commander*/
.commander {
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: transparent;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
}

.boutonCommander {
  background: linear-gradient($color-secondaire 0%, $color-primaire 100%);  
  height: 50px;
  width: 70%;
  border: none;
  border-radius: 25px 25px 25px 25px;
  padding: 0 24px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color:white;
  margin: 5px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -ms-border-radius: 25px 25px 25px 25px;
  -o-border-radius: 25px 25px 25px 25px;
  /* animation sur les boutons - au survol */
  &:hover {
    top: -2px;
    box-shadow: 4px 4px 6px #000;
  }
}


/*Definition pour les responsives */
/* Pour les ecrans type portable*/
@media only screen and (max-width:768px) {


  /* Menus */
  .flex-menus{
    flex-direction: column;
    align-items: center;
  }

  .sousMenu {
    grid-template-columns: 1fr;
    align-content: space-between;
    margin-left: 0;
  }

}

/* Pour les ecrans type tablette */
@media (min-width: 769px) and (max-width:991px) {
}
