
/*---------
Pour les menus
menu.css pour les différents menus
Feuille de style pour le projet 3 ohmyfood
Par Arnaud Ghali
Version V 7.0 animations boutons */ 


@import "typography";



/* Menus */
.imageRestaurant {
  height: 300px;
  width: 100%;
  background-size:cover;
  background-position: center center;
}

.titreRestaurant {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  width: 100%;
}

.titreRestaurantTexte {
  padding-top: 25px;
  padding-left: 5px;
  text-align: left;
}

.titreRestaurantCoeur {
  padding-top: 25px;
  padding-right: 25px;
  text-align: right;
}

.flex-menus {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-content: center;
  margin: auto;
  background-color:#F2F2F2;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/* Mise en forme des titres : Entrées, Plats, Desserts */
.titreCategorie {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width : 100%;
  justify-content:start;
  text-align: left;
  padding-top :30px;
  padding-bottom: 10px;
}

.categorie {
  display : flex;
  flex-direction: row;
  text-align: left;
}

.categorieLigne {
  width: 50px;
  border: 2px solid $color-tertiaire;
  margin-left: 5px;
}

.sousMenu { /* Grid vignette sous-menu*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  background-color: #F2F2F2;
  width: 90%;
  align-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
}

.sousMenuDetail {/* chaque Plat*/
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex : 1;
  flex-direction: column; 
  line-height: 16px;
  min-height: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  padding:0;
}

/* Plat */
.sousMenuPlat {
  padding-top: 5px;
}

/* Accompagnements*/
.sousMenuAccompagnements {
  display: grid;
  grid-template-columns:80% 20%;
  grid-template-rows: auto;
}

.policeAccompagnements {
  font-size: 14px;
  text-align: left;
  margin-top: 2%;
  color:gray;
  font-weight: 400;
  padding-left:5px;
  }

.prixAccompagnements {
  text-align: right;
  margin-top: 2%;
  font-weight: 500;
  padding-right:5px;
  }

/* Bouton commander*/
.commander {
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: transparent;
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
}

.boutonCommander {
  background: linear-gradient(to bottom, $color-secondaire 10%, $color-secondaire 25%, $color-secondaire 50%, $color-primaire 75%,$color-primaire 85%); 
  height: 50px;
  width: 70%;
  box-shadow: 4px 4px 6px #000;
  border: none;
  border-radius: 25px 25px 25px 25px;
  padding: 0 24px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color:white;
  margin: 5px;
  -webkit-border-radius: 25px 25px 25px 25px;
  -moz-border-radius: 25px 25px 25px 25px;
  -ms-border-radius: 25px 25px 25px 25px;
  -o-border-radius: 25px 25px 25px 25px;
}


/*Definition pour les responsives */
/* Pour les ecrans type portable*/
@media only screen and (max-width:768px) {

  /* Menus */

  .flex-menus{
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin: 0;
    padding :0;
    width :100%;
  }

  .sousMenu {
    grid-template-columns: 1fr;
    align-content: space-between;
    margin-left: 0;
  }

}

/* Pour les ecrans type tablette */
@media (min-width: 769px) and (max-width:991px) {
}
